PORT=3000
NODE_ENV="development"
ACCESS_TOKEN_SECRET="your_access_token_secret_min_32_characters"
REFRESH_TOKEN_SECRET="your_refresh_token_secret_min_32_characters"
ACCESS_EXPIRES_IN="15m"
REFRESH_EXPIRES_IN="1d"

DATABASE_URL="postgresql://username:password@db:5432/your_database"
POSTGRES_DB="your_database"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"