PORT=3000
DATABASE_URL="postgresql://username:password@localhost:5432/contact_management?schema=public"
NODE_ENV="development"
ACCESS_TOKEN_SECRET="your_access_token_secret_min_32_characters"
REFRESH_TOKEN_SECRET="your_refresh_token_secret_min_32_characters"
ACCESS_EXPIRES_IN="15m"
REFRESH_EXPIRES_IN="1d"
