PORT=3000
NODE_ENV="development"

ACCESS_TOKEN_SECRET="your_access_token_secret_min_32_characters"
REFRESH_TOKEN_SECRET="your_refresh_token_secret_min_32_characters"
ACCESS_EXPIRES_IN="15m"
REFRESH_EXPIRES_IN="1d"

# postgres database
DATABASE_URL="postgresql://username:password@db:5432/your_database"
POSTGRES_DB="your_database"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"

# redis database
REDIS_DATABASE_URL="redis://username:password@localhost:6379"
REDIS_HOST="host"
REDIS_PORT="6379"
REDIS_USERNAME="username"
REDIS_PASSWORD="password"